@model SWII6_TP02.Models.Container

@{ ViewBag.Title = "Details"; }

<h2>Detalhes Container</h2>

<div>
    <h4>Container</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Numero }) |
    @Html.ActionLink("Voltar para o índice", "Index")
</p>
