@model SWII6_TP02.Models.BL

@{ ViewBag.Title = "Details"; }

<h2>Detalhes do BL</h2>

<div>
    <h4>BL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Consignee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consignee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Navio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Numero }) |
    @Html.ActionLink("Voltar para o índice", "Index")
</p>
